.video-player-container {
    aspect-ratio: 16/9;
  }

  /* In app-player.component.css or app-player.component.scss */
:host {
  display: block; /* Ensure the component takes up the full width */
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the video fills the container */
}
  
  .video-controls {
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .video-player-container:hover .video-controls {
    opacity: 1;
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: #3b82f6;
    border-radius: 50%;
    cursor: pointer;
  }
  