:host {
    display: block;
    min-height: 100%;
  }
  
  .tabs-container {
    display: inline-flex;
    flex-direction: column;
    position: relative;
    
    .flex {
      position: relative;
      display: flex;
      justify-content: center;
    }
  }
  
  // Make sure the tab buttons have consistent sizing
  button {
    position: relative;
    white-space: nowrap;
    
    &:focus {
      outline: none;
    }
  }